*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Assistant', sans-serif;
    overflow-x: hidden;
}
:root{
    --footer-text: rgb(83,87,102);
    --text-color: rgb(40,44,63);
}
/* -------------NAVBAR------------- */

header{
    width: 100%;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    background-color: white;
}
header nav{
    display: flex;
    align-items: center;
}

header > nav > .home-image{
    width: 10%;
    height: 60%;
    margin-left: 1%;
}

header nav ul{
    list-style-type: none;
    font-size: 14px;
    line-height: 80px;
    font-weight: 700;
    display: flex;
    width: 37rem;
}

header nav ul li{
    padding: 0 2.7%;
    cursor: pointer;
}

header nav ul li a{
    text-decoration: none;
    color: var(--text-color);
}

header nav ul .home-cata1:hover{
    border-bottom-color: rgb(238, 95, 115);
    border-bottom-style: solid;
    border-bottom-width: 4px;
}
header nav ul .home-cata2:hover{
    border-bottom-color: rgb(250, 80, 173);
    border-bottom-style: solid;
    border-bottom-width: 4px;
}
header nav ul .home-cata3:hover{
    border-bottom-color: rgb(255, 103, 0);
    border-bottom-style: solid;
    border-bottom-width: 4px;
}
header nav ul .home-cata4:hover{
    border-bottom-color: rgb(250, 227, 17);
    border-bottom-style: solid;
    border-bottom-width: 4px;
}
header nav ul .home-cata5:hover{
    border-bottom-color: rgb(35, 197, 160);
    border-bottom-style: solid;
    border-bottom-width: 4px;
}
header nav ul .home-cata6:hover{
    border-bottom-color: rgb(238, 95, 115);
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

header nav .home-searchbar{
    position: relative;
    margin-right: 8px;
    box-sizing: inherit;
    display: block;
}

header nav .home-searchbar input{
    display: inline-block;
    font-size: 13px;
    height: 20px;
    line-height: 24px;
    color: #696e79;
    box-sizing: content-box;
    padding: 8px 10px 10px 50px;
    border: 1px solid #f0f0f1;
    border-radius: 4px;
    background: #f5f5f6;
    width: 19rem;
    margin-left: 2.5rem;
}

header nav .home-searchbar input:focus{
    background-color: white;
    outline: none;
}

header nav .home-searchbar i{
    position: absolute;
    top: 0.8rem;
    left: 3.4rem;
    color: #696e79;
    font-size: 14px;
}
header nav .home-iconbar{
    display: flex;
    font-size: 12px;
    line-height: 6px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    margin-left: 1.3rem;
    cursor: pointer;
    justify-content: space-between;
}

header nav .home-iconbar i{
    font-size: 16px;
    margin-top: 8px;
    text-align: center;
}

header nav .home-iconbar p{
    padding-top: 10px;
    color: var(--text-color);
}

header nav .home-iconbar .home-profile i{
    padding-left: 8px;
    cursor: default;
}

header nav .home-iconbar .home-wishlist i{
    padding-left: 10px;
}
    /* ------------------------beauty-section----------------------- */
.beauty > .description{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-around;
    line-height: 5vh;
    flex-wrap: wrap;
    margin-top: 6%;
    padding-left:20px;
}
.beauty > .description > h4 > span{
    font-weight: 600;
    color: black;
}
.beauty > .description > h4{
    color: rgb(28, 26, 26);
    font-weight: 400;
}
.beauty > .description > h3{
    color: rgb(28, 26, 26);
    font-weight: 400;
}
.beauty .description > h3 > span{
    color: black;
    font-weight: 600;
}
       /* ------------------flex-filter div css------------------- */
.flex-filter{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    line-height: 5rem;
    cursor: pointer;
    text-align: center;
   
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid black; */
    width: 85%;
}
.flex-filter  .select{
    display: flex;
    /* padding-right: 37rem; */
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
}

.flex-filter > h2{
    font-size: 16px;
    font-weight: 700;
    padding-left: 1%;
}
.flex-filter > .filter{
    display: flex;
   align-items: center;
}

.light{
    font-weight: 400;
}

/* ---------drop down icon--------- */
.flex-filter > .select > .light > .fa-solid{
    margin-left: 0.2rem;
    color: #ced2e7;
}
/* ----------select form---------- */
.flex-filter > .form{
    height: 8vh;
    border: 2px solid black;
}

.flex-filter > form > select > option{
    height: 18rem;
}
.form > form >select{
    width: 290px;
    height: 42px;
    border: 1px solid #95959a;
    color: #696B79;
    margin-right: 2rem;
    font-size: 1rem;
    padding: 10px;
}
.row{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow: hidden;
    border: 1px solid #e9e9ed;
    position: relative;
}


    /* ------------sidebar-------------- */

.column{
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: start;
    padding: 0.1rem;
    height: auto;
}
.column > .categories p{
    color:rgb(255,63,141);
    font-size: large;
    font-weight: 600;

}
.column > .brand p{
    color:rgb(255,63,141);
    font-size: large;
    font-weight: 600;
}
.column > .prices p{
    color:rgb(255,63,141);
    font-size: large;
    font-weight: 600;
}
.column > .color p{
    color:rgb(255,63,141);
    font-size: large;
    font-weight: 600;
}
.column > .discount-range p{
    color:rgb(255,63,141);
    font-size: large;
    font-weight: 600;
   
}
 .gender{
    color: black;
    font-weight: 700;
    font-size: large;
    border: 1px solid #e9e9ed;
    border-top: 0;
     width: 300px;
     padding: 15px;
     display: flex;
     flex-direction: column;
     justify-content: start;
     line-height: 30px;
     cursor: pointer;     
}
 form > label{
    cursor: pointer;
    padding-left: 2px;
  margin-bottom: 2px;
}
input[type=radio] {
    border: 0px;
    width: 9%;
    height: 1.4em;
}
input[type=checkbox] {
    border: 0px;
    width: 9%;
    height: 1.4em;
}
.categories{
    color: black;
    font-weight: 700;
    font-size: large;
    border: 1px solid #e9e9ed;
    border-top: 0;
     width: 100%;
     padding: 15px;
     display: flex;
     flex-direction: column;
     justify-content: start;
     padding-right: 0;
     line-height: 30px;
     cursor: pointer;
     /* font-weight: 100; */
}
      .categories > form{
         font-weight: 400;
       }
       .categories > .flex-icon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       }
       .categories > .flex-icon > .fa-solid{
        margin-right: 2rem;
       }
       .brand{
        color: black;
        font-weight: 700;
        font-size: large;
        border: 1px solid #e9e9ed;
        border-top: 0;
         width: 100%;
         padding: 15px;
         display: flex;
         flex-direction: column;
         justify-content: start;
         padding-right: 0;
         line-height: 30px;
         cursor: pointer;
    }
    /* -------------magnify icon---------------  */

.magnify{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #f4f3f3;
    border-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 18px;
  }
    .options{
        line-height: 4rem;
        font-size: 1.1rem;
       font-weight: 700;
       padding-left: 1%;
    }
          .brand > form{
             font-weight: 400;
           }
           .brand > .flex-icon{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           }
           .brand > .flex-icon > .fa-solid{
            margin-right: 2rem;
           
           }
           
           .color > .flex-icon{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           }
           .color > .flex-icon > .fa-solid{
            margin-right: 2rem;
           }
           .prices{
            color: black;
            border: 1;
            font-weight: 700;
            font-size: large;
            border: 1px solid #e9e9ed;
            border-top: 0;
             width: 100%;
             padding: 15px;
             display: flex;
             flex-direction: column;
             justify-content: start;
             padding-right: 0;
             line-height: 30px;
             cursor: pointer;
             
        }
              .prices > form{
                 font-weight: 400;
               }  
               .color{
                color: black;
                font-weight: 700;
                font-size: large;
                 width: 100%;
                 padding: 15px;
                 display: flex;
                 flex-direction: column;
                 justify-content: start;
                 padding-right: 0;
                 line-height: 30px;
                 border: 1px solid #e9e9ed;
                 border-top: 0;
                 cursor: pointer;
         }
                  .color > form{
                     font-weight: 400;
                   }      
               .discount-range{
                color: black;
                font-weight: 700;
                font-size: large;
                 width: 100%;
                 padding: 15px;
                 display: flex;
                 flex-direction: column;
                 justify-content: start;
                 padding-right: 0;
                 line-height: 30px;
                 border: 1px solid #e9e9ed;
                 border-top: 0;
                 cursor: pointer;
         }
                  .discount-range > form{
                     font-weight: 400;
                   }    
          /* --------------------images-----------------------  */
.beauty-images{
    /* height: auto;
    padding-right: 3rem;
    width : auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   column-gap: 2rem; */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   height: auto;
   width: auto;
   cursor: pointer;
   margin-right: 20px;;
}

.beauty-images > .img{
    height: 510px;
    width: 260px;
    padding-left: 0.9rem;
   margin-bottom: 10px;
   margin-top: 20px;
   margin-left: 23px;
   /* border: 2px solid gray; */
}
.beauty-images > .img > img{
    height: 38vh;
    width: 12vw;
    /* cursor: pointer; */
}
.beauty-images > .img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.beauty-images > .img > .product{ 
    color: black;
 line-height: 1.5;
 font-size: 1.1rem ;
 
 }
 .beauty-images > .img > .rating{ 
    color: black;
   line-height: 3.6rem;
 }
    .beauty-images > .img > .product > h4{
        line-height: 0;
   }
   .beauty-images > .img > .rating{
    font-weight: bolder;
   }
   .beauty-images > .img > p > .fa-solid{
    color:rgb(20,149,143);
   }
   .beauty-images > .img .discount{
    color: orange;
    font-weight: 400;
    font-size: 1rem;
   }
   .beauty-images > .img > h4 > .price{
   font-weight: 300;
   text-decoration: line-through;
   font-size: 1rem;
   }
   .beauty-images > .img > h3{
    font-size: 1.3rem;
   }
   .beauty-images > .img > h4{
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: 700;
   }
   .beauty-images > .img > .left{
    color: red;
    font-weight: 700;
    font-size: 20pxz;
   }

      /* -----------buttons------------ */

   .page_up{
    height: 25vh;
    display: flex; 
    justify-content: space-around; 
    gap: 8rem; 
    align-items: center;
    padding-bottom: 6rem;
    padding-left: 23rem;
    padding-right: 30rem;

}
.margin{
    padding-left: 17rem;
    
}
#button1{
    color: white; 
    background-color: black;
    height: 38px;
    width: 28px;
    border: none;
}
button{
    cursor: pointer;
    color:black; 
    background-color: white;
    height: 38px; 
    width: 28px; 
    border: none;
    font-weight: bold;
    font-size: large;
}
button:hover{
    border: 1px solid #dcdce9;
    height: 38px;
    width: 28px;
}
#next{
    color: black; 
    background-color: white;
    border: 1px solid #c6c6cf;
    height: 49px;
    width: 6vw;
    padding: 2px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
}
#next:hover{
    border: 1px solid black;
   height: 49px;
   width: 6vw;
}
   /* -------------footer-------------- */
   .men_footer{
    background-color: #FAFBFC;
    font-family: 'Assistant','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial,sans-serif';
    padding-right: 50px;
}
.footer_first_section{
    display: flex;
    gap:3rem;
    margin-left: 100px;
}

.online_cust_class ul ,.online_cust_class_2 ul{
    list-style: none;
}

.online_cust_class ul li, .online_cust_class_2 ul li{
    margin-top: 5px;
}

.online_cust_class  a, .online_cust_class_2 a, .get_app a{
    text-decoration: none;
    color:black;

}

.online_cust_class  li>a, .online_cust_class_2 li > a{
    font-size: 15px;
    color:#696B79;
    font-weight: 400;
}

.online_cust_class p, .online_cust_class_2 p, .get_app p{
    font-weight:700;
    font-size: 12px;
    letter-spacing: 0.5px;
    color:black;
    margin: 25px 0;

}

.get_app img{
    width: 130px;
    height: 42px;
}

.Footer_second_section{
    margin: 20px 100px;
}

.popular_search{
    position: relative;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight:700;
}
.popular_search::after{
    content:"";
    height: 0.5px;
    background-color:lightgray ;
    position: absolute;
    width: 89%;
    margin-left: 15px;
    top: 50%;
}


.anchor_items{
    margin-top: 5px;
}
.anchor_items a{
    text-decoration: none;
    color: #696B79;
    font-size: 15px;
    font-weight: 400;
    
}

.copy_right_items{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.Footer_second_section hr{
    height: 0.5px;
}

.Third_section_footer{
    margin: 20px 100px;
}

.gyan_section_h1{
    font-size: 13px;
    font-weight: 700;
    margin-top: 30px;
}


.large_size{
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
    color: #696B79;
}

.g_color{
    color: #696B79 ;
    
}
.First_of_third_section{
    margin-bottom: 30px;
}

.gyan_section_p{
    color: #94969f;
    font-size: 14px;
    margin-top: 5px;
}

.Second_of_third_section{
    margin-bottom: 30px;
}

.Second_of_third_section ul li{
    margin:10px 0px 10px 50px;
    list-style-type: decimal;
    line-height: 18px;
    color: #94969f;
    font-size: 14px;
}

.anchor_in_p{
    text-decoration: none;
    color: #696b79;;
}

.anchor_in_p:hover{
    text-decoration: underline;
}

.personal_care{
    width: 100%;
    margin-left: 100px;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 40px;
  
}

.peronal_care_info{
    width: 53%;
    
}

.price_list{
    width: 35%;

}

table{
    border-spacing:15px;
}

.margin_none{
    text-align: left;
}

.table_data{
    font-size: 12px;
    color: #282c3f;;
}

.peronal_care_info ul li{
    margin:0px 0px 0px 50px;
    list-style-type: decimal;
    line-height: 18px;
    color: #94969f;
    font-size: 14p1pxx;
}
/* @media only screen and (max-width:800px) {
    For tablets:
    .row {
      width: 80%;
      padding: 0;
    }
    .column {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    For mobile phones:
    .flex-filter, .row, .column .beauty-images{
      width: 100%;
    }
  }
    */